*{
    text-align: center;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    height: 186px;
    background-color: rgb(83, 129, 47);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 36px;
    text-shadow: black 1px 1px 2px;
}

header a{
    position: relative;
    top: 64px;
    font-size: 36px;
    color: white;
    text-decoration: none;
    left: 45%;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}


nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


section {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
    text-shadow: rgb(82, 82, 82) 1px 1px 2px;
}

p {
    font-size: 22px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}
li{
    font-size: 25px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
a:hover{
    color: rgba(255, 255, 255, 0.719);
}